{% extends 'base.html' %}

{% block content %}
<div class="p-16">

    <div class="w-full p-6 mb-8 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <h5 class="text-xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Create Album</h5>

        <form method="post" class="w-full flex flex-col gap-4">
            {% csrf_token %}
            <div class="flex items-start flex-col justify-start">
              <label for="judul_album" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Judul Album</label>
              <input type="text" id="judul_album" name="judul_album" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" required>
            </div>

            <div class="flex flex-wrap mb-4">
                <label for="label" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Label</label>
                <select id="label" name="label" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500">
                  {% for label in labels %}
                    <option value="{{ label.id }}">{{ label.nama }}</option>
                  {% endfor %}
                </select>
            </div>

            <h5 class="text-xl text-center font-bold tracking-tight text-gray-900 dark:text-white">First Song</h5>
            
            <div class="flex items-start flex-col justify-start">
                <label for="judul_lagu" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Judul Lagu</label>
                <input type="text" id="judul_lagu" name="judul_lagu" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" required>
            </div>
            
            {% if is_artist %}
            <div class="flex items-start flex-col justify-start">
                <label for="artist" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Artist</label>
                <input type="text" id="artist" name="artist" value="{{ artist.nama }}" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" disabled>
                <input type="hidden" id="artist_id" name="artist_id" value="{{ artist.id }}">
            </div>
            {% else %}
            <div class="flex items-start flex-col justify-start">
                <label for="artist" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Artist</label>
                <select id="artist" name="artist" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500">
                  {% for artist in artists %}
                    <option value="{{ artist.id }}">{{ artist.nama }}</option>
                  {% endfor %}
                </select>
            </div>
            {% endif %}
            
            <div class="flex items-start flex-col justify-start">
                <label for="songwriter" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Songwriter</label>
                <select id="songwriter" name="songwriter" multiple class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" required>
                    {% for writer in songwriters %}
                      {% if is_songwriter and writer.id == songwriter.id %}
                        <option value="{{ writer.id }}" selected>{{ writer.nama }}</option>
                      {% else %}
                        <option value="{{ writer.id }}">{{ writer.nama }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="flex items-start flex-col justify-start">
                <label for="genre" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Genre</label>
                <select id="genre" name="genre" multiple class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" required>
                    {% for genre in genres %}
                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex items-start flex-col justify-start">
                <label for="durasi" class="text-lg font-bold text-gray-900 dark:text-gray-200 mb-2">Durasi <span class="text-sm">(menit)</span></label>
                <input type="number" id="durasi" name="durasi" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500" required>
            </div>

            <button type="submit" class="bg-[#5781C4] hover:bg-[#749DDC] text-white font-medium py-2 px-4 rounded-md shadow-sm mt-2">
              <span class="justify-center">
                <span class="ml-2">Submit</span>
              </span>
            </button>
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="{% if message.tags == 'success' %}text-green-800{% elif message.tags == 'error' %}text-red-500{% endif %} text-center font-medium mt-2">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        // Initialize Select2 for songwriter and genre
        $('#songwriter, #genre').select2();

        // Handle change event for songwriter
        $('#songwriter').on('change', function() {
            let selectedValues = $(this).val();
            updateChips('#songwriter', selectedValues);
        });

        // Handle change event for genre
        $('#genre').on('change', function() {
            let selectedValues = $(this).val();
            updateChips('#genre', selectedValues);
        });

        // Function to update chips for selected values
        function updateChips(selector, values) {
            let chipContainer = $(selector).closest('.flex').find('.chip-container');
            chipContainer.empty();
            if (values) {
                values.forEach(function(value) {
                chipContainer.append(`<div class="chip" id=${value}>${value}</div>`);
                });
            }
        }

    });

</script>

{% endblock content %}