{% extends 'base.html' %}

{% block content %}
<div class="p-16">

    <div class="overflow-x-auto shadow-md sm:rounded-lg mb-8">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-bold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                List Album
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Judul
                    </th>
                    {% if is_artist or is_songwriter %}
                    <th scope="col" class="px-6 py-3 text-center">
                        Label
                    </th>
                    {% endif %}
                    <th scope="col" class="px-6 py-3 text-center">
                        Jumlah Lagu
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Durasi
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ album.judul }}
                        </th>
                        {% if is_artist or is_songwriter %}
                        <td class="px-6 py-4 text-center">
                            {{ album.label }}
                        </td>
                        {% endif %}
                        <td class="px-6 py-4 text-center">
                            {{ album.jumlah_lagu }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            {{ album.total_durasi }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            <a href="{% url 'album:view_album' album.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Detail</a>
                            {% if is_artist or is_songwriter %}
                            <a href="{% url 'album:create_song' album.id %}" class="font-medium text-green-600 dark:text-blue-500 hover:underline ml-4">Add Song</a>
                            {% endif %}
                            <button class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3" data-url="{% url 'album:delete_album' album.id %}" onclick="deleteAlbum(this)">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_artist or is_songwriter %}
    <a href="{% url 'album:create_album' %}" class="fixed bottom-8 right-8 bg-[#5781C4] hover:bg-[#749DDC] text-white font-medium p-4 rounded shadow-md">
        <span class="material-symbols-outlined">
            <span>Create Album</span>
        </span>
    </a>
    {% endif %}

</div>

<script>
    function deleteAlbum(button) {
        const url = button.getAttribute('data-url');
        
        if (confirm('Are you sure you want to delete this album?')) {
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    // If the delete is successful, remove the row from the table
                    const row = button.closest('tr');
                    row.remove();
                } else {
                    alert('Failed to delete the album');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script>

{% endblock content %}