{% extends 'base.html' %}

{% block content %}
<div class="p-16">

    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-bold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                {{judul}}
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Judul
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Durasi
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Play
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Download
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ song.judul }}
                    </th>
                    <td class="px-6 py-4 text-center">
                        {{ song.durasi }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ song.total_play }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ song.total_download }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <a href="#" class="font-medium text-blue-600 dark:text-red-500 hover:underline ms-3">Detail</a>
                        <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}