{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Tambah Lagu</h1>
    <form method="post" action="/playlist/add_song/{{ id_playlist }}/">
        {% csrf_token %}
        <label for="song">Lagu:</label>
        <select id="song" name="song">
            {% for song in songs %}
            <option value="{{ song.id }}">{{ song.title }} - {{ song.artist }}</option>
            {% endfor %}
        </select>
        <button type="submit">SUBMIT</button>
    </form>
</div>
{% endblock %}

