{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="overflow-x-auto shadow-md sm:rounded-lg mb-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-3 text-lg font-bold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            My Playlist
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Judul
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Jumlah Lagu
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Total Durasi
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
        {% if playlist %}
            {% for p in playlist %}
            <tr>
                <td class="px-6 py-4 text-center">
                    {{ p.judul }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ p.jumlah_lagu }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ p.total_durasi }}
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/playlist/user_playlist/{{p.id_user_playlist}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Detail</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No playlists available.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<!-- <script>
    function deletePlaylist(button) {
        const url = button.getAttribute('data-url');
        
        if (confirm('Are you sure you want to delete this playlist?')) {
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    // If the delete is successful, remove the row from the table
                    const row = button.closest('tr');
                    row.remove();
                } else {
                    alert('Failed to delete the playlist');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script> -->


{% endblock content %}
