{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="p-16">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-center text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                User Playlist Detail
            </caption>
            <tbody>
                <tr>
                    <td class="px-6 py-4 font-medium">Judul:</td>
                    <td class="px-6 py-4">{{ judul_playlist }}</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Pembuat:</td>
                    <td class="px-6 py-4">{{ nama_pembuat }}</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Jumlah Lagu:</td>
                    <td class="px-6 py-4">{{ jumlah_lagu }}</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Total Durasi:</td>
                    <td class="px-6 py-4">{{ total_durasi }}</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Tanggal Dibuat:</td>
                    <td class="px-6 py-4">{{ tanggal_dibuat }}</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Deskripsi:</td>
                    <td class="px-6 py-4">{{ deskripsi }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-center p-4">
                        <a href="/playlist/play_playlist/{{ id_user_playlist }}/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Shuffle Play</a>
                        <a class="font-medium text-grey-600 dark:text-grey-500 hover:underline ml-4" onclick="window.history.back();">Kembali</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-bold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Daftar Lagu
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Judul
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Oleh
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Durasi
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if songs %}
                {% for song in songs %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ song.judul }}
                    </th>
                    <td class="px-6 py-4 text-center">
                        {{ song.nama_artis }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ song.durasi }} menit
                    </td>
                    <td class="px-6 py-4 text-center">
                        <a href="/playlist/view_song/{{ playlist_id }}/{{ song.id }}/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ms-3">Lihat</a>
                        <a href="/playlist/play_song/{{song.id}}/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ms-3 p-4">Play</a>
                        {% if is_creator %} 
                        <a href="/playlist/delete_song/{{playlist_id}}/{{song.id}}/">
                            <button class="font-medium text-red-600 hover:underline" data-url="/playlist/delete_song/{{playlist_id}}/{{song.id}}/">Delete</button>
                        </a>
                        {% endif %} 
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                {% if messages %}
                <div class="messages fixed top-5 right-5 z-50 w-1/3 bg-white shadow-lg rounded-lg overflow-hidden">
                    {% for message in messages %}
                    <div class="message bg-{{ message.tags }}-100 border-l-4 border-{{ message.tags }}-500 text-{{ message.tags }}-700 p-4" role="alert">
                        <p class="font-bold">Notice</p>
                        <p>{{ message }}</p>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="this.parentElement.style.display='none';">
                            <a href="#">X</a>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center p-4">
                        <a href="/playlist/add_song/{{ playlist_id }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ms-3">Tambah Lagu</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


{% endblock content %}
