{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="p-16">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-center text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Song Details
            </caption>
            <tbody>
                <tr>
                    <td class="px-6 py-4 font-medium">Judul:</td>
                    <td class="px-6 py-4">Himalaya</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Genre:</td>
                    <td class="px-6 py-4">Pop, Classic</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Artis:</td>
                    <td class="px-6 py-4">Maliq n D’Essentials</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Durasi:</td>
                    <td class="px-6 py-4">3 menit 27 detik</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Tanggal Rilis:</td>
                    <td class="px-6 py-4">7 Mei 2018</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Tahun:</td>
                    <td class="px-6 py-4">2024</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Album:</td>
                    <td class="px-6 py-4">Album1</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Total Play:</td>
                    <td class="px-6 py-4">0</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-medium">Total Download:</td>
                    <td class="px-6 py-4">0</td>
                </tr>
                <tr>
                    <td colspan="2" class="px-6 py-4 text-center">
                        <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Play</a>
                        <a href="#" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-2">Add</a>
                        <a href="#" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">Back</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
