{% extends 'base.html' %}

{% block content %}
<div class="px-16 py-8">
    <div class="overflow-x-auto shadow-md sm:rounded-lg mb-8 max-w-full">
        <div class="flex justify-between items-center flex-row py-4 px-8">
            <p class="text-lg font-bold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Langganan Paket
            </p>
            <a href="{% url 'subscription:history' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                Riwayat Transaksi Paket
            </a>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Jenis
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Harga
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for subs in subscriptions %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ subs.jenis }}
                        </th>
                        <td class="px-6 py-4 text-center">
                            {{ subs.harga }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            <a href="{% url 'subscription:checkout' subs.jenis %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Berlangganan</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if messages %}
        {% for message in messages %}
        <div class="{% if message.tags == 'success' %}text-green-800{% elif message.tags == 'error' %}text-red-500{% endif %} text-center font-medium my-2">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}