{% extends 'base.html' %}

{% block content %}
<div class="px-16 py-8">

    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-bold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                List Royalti
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Judul Lagu
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Judul Album
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Play
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Download
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Royalti Didapat
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Lagu A
                    </th>
                    <td class="px-6 py-4 text-center">
                        Album A
                    </td>
                    <td class="px-6 py-4 text-center">
                        8
                    </td>
                    <td class="px-6 py-4 text-center">
                        24
                    </td>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Rp 450000
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Lagu B
                    </th>
                    <td class="px-6 py-4 text-center">
                        Album B
                    </td>
                    <td class="px-6 py-4 text-center">
                        9
                    </td>
                    <td class="px-6 py-4 text-center">
                        27
                    </td>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Rp 475000
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Lagu C
                    </th>
                    <td class="px-6 py-4 text-center">
                        Album C
                    </td>
                    <td class="px-6 py-4 text-center">
                        6
                    </td>
                    <td class="px-6 py-4 text-center">
                        18
                    </td>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Rp 300000
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Lagu D
                    </th>
                    <td class="px-6 py-4 text-center">
                        Album D
                    </td>
                    <td class="px-6 py-4 text-center">
                        10
                    </td>
                    <td class="px-6 py-4 text-center">
                        30
                    </td>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Rp 900000
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Lagu E
                    </th>
                    <td class="px-6 py-4 text-center">
                        Album E
                    </td>
                    <td class="px-6 py-4 text-center">
                        7
                    </td>
                    <td class="px-6 py-4 text-center">
                        21
                    </td>
                    </td>
                    <td class="px-6 py-4 text-center">
                        Rp 400000
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}