{% extends 'base.html' %}

{% block content %}
<div class="px-16 py-8">
    <div class="bg-[#AECEFF] rounded-lg px-8 py-4">
        <div class="flex flex-row justify-start">
            <span class="flex items-center justify-center mr-8">
                <i class="material-icons text-9xl">account_circle</i>
            </span>
            <div class="flex flex-col justify-center">
                <h1 class="text-3xl font-bold mb-2">
                    {{ nama }}
                </h1>
                <p class="mb-2">
                    {{ email }} | {{ kontak }}
                </p>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <div class="bg-[#AECEFF] rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-4 text-lg font-bold text-center rtl:text-right text-gray-900 bg-[#AECEFF] dark:text-white dark:bg-gray-800">
                Daftar Album
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Judul
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Jumlah Lagu
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total Durasi
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Album A
                    </th>
                    <td class="px-6 py-4 text-center">
                        8
                    </td>
                    <td class="px-6 py-4 text-center">
                        24 menit
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Album B
                    </th>
                    <td class="px-6 py-4 text-center">
                        9
                    </td>
                    <td class="px-6 py-4 text-center">
                        27 menit
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Album C
                    </th>
                    <td class="px-6 py-4 text-center">
                        6
                    </td>
                    <td class="px-6 py-4 text-center">
                        18 menit
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Album D
                    </th>
                    <td class="px-6 py-4 text-center">
                        10
                    </td>
                    <td class="px-6 py-4 text-center">
                        30 menit
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Album E
                    </th>
                    <td class="px-6 py-4 text-center">
                        7
                    </td>
                    <td class="px-6 py-4 text-center">
                        21 menit
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
